<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/fe384c9d88.js" crossorigin="anonymous"></script>
    <title>Digital Cars</title>
</head>
<body>
    <header>
        <div class="topnav">
            <img class="Logo" src="/images/logo.png" alt="Logo Digital Cars">
            <a class="active" href="/index">Inicio</a>
            <a href="#productos">Productos</a>
            <a href="#contacto">Contacto</a>
            <a href="#about">Sobre nosotros</a>
            <a href="/carrito"> <i class="fa-solid fa-cart-shopping"></i> </a>
            <a href="/login"> <i class="fa-solid fa-user"></i> </a>
            <a href="/register"> <i class="fa-solid fa-id-card"></i></a>
        </div>
    </header>
    <div class="productoA"> 
    <a href="producto b"><img src="/images/producto b.jpg" alt="Producto B" width="400px" height="250px"></a>
        <a href="/detalleDeProducto"> <h3>  BMW 328 i </h3> </a>
        <p>Método de pago preferido:</p>
        <input type="radio" name="medio" value="Efectivo">
        <img src="/images/visa.png" alt="visa" width="50px" height="50px">
        <input type="radio" name="medio" value="Débito">
        <img src="/images/mastercard.png" alt="visa" width="50px" height="50px">
        <input type="radio" name="medio" value="Crédito">
        <img src="/images/MP.png" alt="visa" width="50px" height="50px">
    </div>
</body>
</html>