<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Digital Cars</title>
</head>
<header>
    <img id="Logo" src="/images/Digital_Cars.png" alt="Logo">
    <nav>
        <input id="searchbar" type="text" name="search" placeholder="Search car..">
        <ul class="inicio">
            <li><a href="#">Productos</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Crea tu cuenta</a></li>
        </ul>
    </nav>
</header>
<body>
<section class="productos">
    <article>
        <img class="Producto" src="/images/producto a.jpg" alt="Producto A">
        <h3>Título del producto</h3>
        <p>Bajada del producto</p>
        <a href="#">ver más</a>
    </article>
    <article>
        <img class="Producto" src="/images/producto b.jpg" alt="Producto B">
        <h3>Título del producto</h3>
        <p>Bajada del producto</p>
        <a href="#">ver más</a>
    </article>
    <article>
        <img class="Producto" src="/images/producto c.jpg" alt="Producto C">
        <h3>Título del producto</h3>
        <p>Bajada del producto</p>
        <a href="#">ver más</a>
    </article>
</section>
</body>
</html>