<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/fe384c9d88.js" crossorigin="anonymous"></script>
    <title>Digital Cars</title>
</head>
<header>
    <div class="topnav">
        <img class="Logo" src="/images/logo.png" alt="Logo Digital Cars">
        <a class="active" href="#inicio">Inicio</a>
        <a href="#productos">Productos</a>
        <a href="#contacto">Contacto</a>
        <a href="#about">Sobre nosotros</a>
       <a href="#carrito"> <i class="fa-solid fa-cart-shopping"></i> </a>
    </div>
</header>
<body>
<section class="productos">
    <article>
        <img src="/images/producto a.jpg" alt="Producto A">
        <h3>Título del producto</h3>
        <p>Bajada del producto</p>
    </article>
    <article>
        <img src="/images/producto b.jpg" alt="Producto B">
        <h3>Título del producto</h3>
        <p>Bajada del producto</p>
    </article>
    <article>
        <img src="/images/producto c.jpg" alt="Producto C">
        <h3>Título del producto</h3>
        <p>Bajada del producto</p>
    </article>
</section>
</body>
</html>