<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/fe384c9d88.js" crossorigin="anonymous"></script>
    <title>Digital Cars</title>
</head>
<body>
    
    <%- include('./partials/header.ejs') %> 

    <main>
        <div class="create-formu">
            <form class="form-registro" method="POST">
                <legend>Registrate</legend>
                <label for="name" > Nombre y Apellido: </label>
                <input class="form-login input" type="text" name="name" id="name"></input>
                <label for="user" > Email: </label>
                <input class="form-login input" type="mail" name="user" id="user"></input>
                <label for="fdn" > Fecha de nacimiento: </label>
                <input class="form-login input" type="date" name="fdn" id="fdn"></input>                
                <label for="psw" > Contraseña </label>
                <input type="password" name="psw" id="psw"></input>
                <label for="psw2" > Repetir Contraseña: </label>
                <input type="password" name="psw2" id="psw2"></input>
                <input type="submit" value="ENVIAR"></input>
                <input type="reset" value="BORRAR"></input>
            </form>
        </div>
    </main>
</body>

    <%- include('./partials/footer.ejs') %> 

</html>