*{
    margin: 0px;
    padding: 0px;
}

.topnav {
    background-color: #333;
    height: 135px;
    width: 100%;   
}
.Logo{
    width: 135px;
    position: relative;
    left: 10px;
}
.topnav a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
    bottom: 20px;
    left: 40px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
    transition-property: background-color, color;
    transition-duration: 1s;   
}
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}
body{
    background-image: url(/images/FONDO.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
}
.productos{
    position: relative;
    top: 180px;
    bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: #ddd;
    justify-content: space-around;
    background-color: #333;
    height: 250px;
    padding: 30px;
}
.productos #titulo {
    font-weight: bold;
}
.topnav #carrito {
    position: relative;
    left: 40px;
}
.ModeloA {
    position: relative;
 text-align: center;
 top: 130px;
 box-sizing: border-box;
 border: #333;

}
.ModeloA p{
    box-sizing: border-box;
    font-weight: bold;
    font-size: 15px;
    position: relative;
    top: 40px;
    bottom: 10px;
    font-size: 35px;
    text-align: center;
    background-color: gray;
}
h3{
    font-size: 35px;
    color: black;
}
.create-form {
    background-color: #333;
    position: relative;
    text-align: center;
    top: 150px;
    width: 300px;
    height: 100%;
    left: 500px;
    font-weight: bolder;
    font-size: 20px;
    font-style:normal;
}
.create-form-login {
    background-color: #333;
    text-align: center;
    position: relative;
    top: 150px;
    left: 570px;
    color: white;
    font-weight: bold;
    width: 200px;
    height: 155px;
}
.log{
    font-size: 25px;
}
.reg{
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}

.boton1{
    color: white;
    background-color: #04AA6D;
    font-weight: bolder;
}
.boton2{
    color: black;
    background-color: red;
    font-weight: bolder;
}
.create-formu-register {
   
    background-color: #333;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 140px;
    left: 550px;
    width: 200px;
    height: 100%;
    padding: 10px;
}

.verData{
    text-align: center;
    background-color: #333;
    color: white;
    position: relative;
    top: 140px;
    left: 550px;
    width: 250px;
    height: 100%;
    font-size: 20px;
}

.prod a{
    position: relative;
    top: 150px;
    left: 500px;
    border-width: 10px;
}
footer{
   background-color: #333;
   position: relative;
   top: 300px;
   text-align: center;
}

.productoA {
    z-index: 10;
    text-align: center;
    position: relative;
    font-size: 30px;
    color: #ddd;
    top: 180px;
    font-weight: bold;
    background-color: #333;
    padding: 30px;
    width: 400px;
    left: 450px;
}

.creaProductos {
    font-size: 20px;
    position: relative;
    top: 40px;
    text-align: center;
}

.texto1 {
    font-size: 30px;
    background-color: #333;
    text-align: center;
    position: relative;
    top: 250px;
    font-weight: bold;
}
.create-form-edit {
    width: 200px;
    text-align: center;
    position: relative;
    top: 125px;
    left: 550px;
    background-color: #333;
    font-size: 25px;
    font-weight: bold;

}

.productos{
    height: fit-content;
}

@media (max-width: 480px) {
    .Logo{
        width: 20%;
    }
    .topnav a{
       padding: 2px 2px;
       font-size: 12px;
       position: relative;
       left: 5px;
       top: 15px;
    }
    .create-form{
        position: relative;
        left: 100px;
    }
    .create-formu{
        position: relative;
        left: 120px;
    }
    .ModeloA  #foto{
        position: relative;
        right: 100px;
    }
}
