<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/fe384c9d88.js" crossorigin="anonymous"></script>
    <title>Digital Cars</title>
</head>
<%- include('./partials/header.ejs') %> 
<body>
    <p class="texto1">Somos una empresa de distribucion de autos BMW la cual se enfoca en hacer llegar a la gente semejantes maquinas a un precio totalmente exclusivo
        gracias a nuestro conveño con la mismisima empresa. Nuestro objetivo es llenar a la Argentina de nuestros autos ofreciendo increibles y 
        nuevas ofertas todos los dias.
    </p>
</body>