<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/fe384c9d88.js" crossorigin="anonymous"></script>
    <title>Digital Cars</title>
</head>
<body>
    
        <%- include('./partials/header.ejs') %> 
        
    <main>
        <div >
        <form class="create-form-login" method="POST" action="/user/login">
            <legend>Inicia Sesion</legend>
            <label for="user" >Email: </label>
            <input class="mail" type="mail" name="email" id="email"></input>
            <label for="contrasenia" >Contraseña </label>
            <input class="psw" type="password" name="contrasenia" id="contrasenia"></input>
            <input type="submit" value="ENVIAR"></input>
            <input type="reset" value="BORRAR"></input>
        </form>
        </div>
    </main>
    <script src="/js/login.js"></script>
</body>

<%- include('./partials/footer.ejs') %> 

</html>